<header id="masthead" class="site-header">
    <div class="left">
        <div class="site-branding">
            <a href="/">
                <h1>one line poetry</h1>
            </a>
        </div>
        
        <div class="site-meta">
            <h2>words with feelings</h2>
        </div>
    </div>

    <div class="right">
        {{ if (.IsHome) }} 
            {{ range first 1 (where .Data.Pages "Type" "poetry") }}
                <h2>{{ .Title }}</h2>
                {{ .PublishDate.Format "January 2, 2006 ; 15:04:05 -0700" }}
            {{ end }}

        {{ else if and (  (.IsPage)  (not eq .URL "/poetry/")) }}
            <h2>{{ .Title }}</h2>
            {{ .PublishDate.Format "January 2, 2006 ; 15:04:05 -0700" }}

        {{ else if eq .URL "/poetry/" }}
        {{ end }}
        <br>
        {{ partial "nav" . }}
    </div>

</header>