<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="one line poetry, one page at a time">
    <meta name="keywords" content="poetry,digital,design,graphic design,type,art,illustration,lettering,perth designer, {{ delimit .Keywords ", " }}">
    <meta name="author" content="Jaclyn Tan">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
    <title>{{ $.Site.Title }}</title>

    <link rel="stylesheet" href="https://use.typekit.net/bek8kga.css">
    <link rel="stylesheet" href="css/style.css"/> 
    {{ if eq .URL "/admin/" }}
      <link rel="stylesheet" href="https://unpkg.com/netlify-cms@^1.0.0/dist/cms.css" />  
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ end }}
  </head> 
  <body class="{{ if or (eq .URL "/poetry/") (eq .URL "/tags/") (eq .Section "tags" )}}archive {{ end }}{{ if isset .Params "theme" }}{{ index .Params "theme" }}{{end}}">
  
    {{ block "header" . }}{{ partial "header" . }}{{end}} 

    {{ block "main" . }}{{end}}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}} 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{ if isset .Params "js" }}
    {{ range .Params.js }}
        <script src="{{ . }}"></script>
        {{ end }}
    {{ end }}

    {{ if eq .URL "/admin/" }}
      <script src="https://unpkg.com/netlify-cms@^1.0.0/dist/cms.js"></script>
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
    {{ end }}

    <script src="app.js"></script>
  </body>
</html>
