body,
button,
input,
select,
textarea {
	color: $brand-primary;
	font-family: $brand-font;
	@include font-size(1.1); // 1rem = 10px
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-family: $brand-font; 
}

strong {
    font-weight: 800;
    font-family: $brand-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    .light & {
        color: $brand-secondary;
    }
}
h1 {
    font-family: $brand-heading;
    @include font-size(3);
    line-height: .8;
    letter-spacing: .02em;
    font-family: $brand-heading;
    text-transform: none;
}

h2 {
    @include font-size(1.3);
    line-height: 1.2;
    margin: .5em 0;
    font-family: $brand-font;
    text-transform: uppercase;
    letter-spacing: .1em;
}

h3 {
    @include font-size(2.4);
}