//colours
//common
$brand-grey: #E0E0E0;
$brand-dark: #121212; 

//brand
$brand-primary: #000; //black  
$brand-secondary:white;
$brand-placeholder-color:$brand-grey;

//fonts
$brand-font: "clone-rounded-latin", "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
$brand-heading: "freight-text-pro", "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   